* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #78d3efc1;
}
h1 {
  font-size: 1.8rem;
  padding: 18px 0;
  text-align: center;
  color: #fff;
  background-color: indigo;
}
.container {
  display: flex;
  padding: 30px;
  gap: 35px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1.05rem;
  border-radius: 4px;
  margin: 10px 0 20px 0;
}
.weather-data {
  width: 100%;
}
.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background-color: indigo;
  border-radius: 5px;
  font-size: 1rem;
}
.weather-input .location-btn {
  background-color: rgb(120, 97, 136);
}
.weather-input .separator {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 25px 0;
}
.current-weather {
  background-color: indigo;
  color: #fff;
  padding: 20px 70px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-weather h2 {
  font-size: 1.7rem;
}
.weather-data h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h6 {
  margin-top: 10px;
  text-transform: capitalize;
}
