* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #78d3efc1;
}
h1 {
  font-size: 1.8rem;
  padding: 18px 0;
  text-align: center;
  color: #fff;
  background-color: indigo;
}
.container {
  display: flex;
  padding: 30px;
  gap: 35px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1.05rem;
  border-radius: 4px;
  margin: 10px 0 20px 0;
}
.weather-data {
  width: 100%;
}
